body {
    background-image: url("/images/kboard-edited.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
    color: white;
    
}

h1 {font-family: 'Montserrat', sans-serif;
font-weight: 400;

 color: white;}

h3 { font-family: 'Big Shoulders Display', cursive;
font-weight: bolder;
 color: white;
}

p {color: white;}

.icons {color: white;
text-align: center;
}

.body {
display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 10px 40px;
        
        background: black;
        opacity: 80%;
        color: white;
}
